
<!--
<head prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixlrcom: http://ogp.me/ns/fb/mixlrcom#'>
-->
<section id='main_content'>
	<img src="/images/v2loading.gif" style="display:none"/>
	<div class='big_wrapper'>
		<div class='container'>
					<h1>Authenticate as one of the following users</h1>
			11111111111111111111
			<p>
				<ul>aaaaaaaa
					<% @users.each do |user| %>
					bbbbbbbb
					<li><%= link_to user.name, session_url(user_id: user.id), method: :post %></li>
					ccccc
					<% end %>
					dddddddd
				</ul>
				eeeeee
			</p>
			<br>
			<div class='apps'>
			<!-- 
				<div class='desktop'>
					<img src='/images/DesktopApp_Preview_W840_200.png'>
					<h3>DownLoad</h3>
					<div class='download_apps'>
						<a href=''>
							Android
						</a>
						<a href=''>
							iPhone
						</a>
					</div>
				</img>
			</div> -->
				<div class='mobile'>
				<h3>DownLoad for mobile / tablet</h3>
					<div class='download_apps'>
					<a href='https://play.google.com/store/apps/'>
						<%= image_tag 'Android_btn_h80.png', :alt => 'Android_PlayStoreButton' %>
<!-- 						<img src="/Android_btn_h80.png" alt='Android_PlayStoreButton' /> -->
					</a>
					<a href='https://itunes.apple.com/'>
							<%= image_tag 'iphone_btn_h80.png', :alt => 'iPhone_Download_Button' %>
<!-- 						<img alt='iPhone_Download_Button' /> -->
					</a>
					</div>
				</div>
			</div>

	<div class='links'>
		<a href='#learn_more'>Learn more</a>
	</div>
<!-- 
	<div class='row'>
		<div>
			<h2>Broadcast to the world with just one click</h2>
			<p>We handle the technology, you concentrate on the content. Starting your first broadcast is easy, just hit the big button and go live.</p>
		</div>
		<div>
			<img src='/images/OneTouchLiveAudio_BcastButton_W840_200.png' />
		</div>
	</div>
	<div class='row'>
		<div>
			<h2>Schedule events</h2>
			<p>Promote your next broadcast in advance by scheduling an event before you go live. Grow your listeners by sharing your upcoming events, and we’ll remind them just before your event is set to begin.</p>
		</div>
		<div>
			<img src='/images/EventIconWithReminder_Red_H260@200.png' />
		</div>
	</div>
	<div class='row'>
		<div>
			<h2>Embed live audio on your website or blog</h2>
			<p>Take your live audio to your own home with our customisable embeddable player.</p>
		</div>
		<div>
			<img src='/images/EmbeddablePlayer_2.0_W840_200.png' />
		</div>
	</div>
	<div class='row'>
		<div>
			<h2>Tune in directly from Facebook and Twitter</h2>
			<p>Just share your livepage, friends or followers can listen directly on Facebook and Twitter.</p>
		</div>
		<div>
			<img src='/images/Embed_Facebook_Twitter_W840_200.png' />
		</div>
	</div>
	<div class='row'>
		<div>
			<h2>Build a community around your live sounds</h2>
			<p>Turn your live audio into a shared social experience. Chat, engage and interact with your listeners in real-time.</p>
		</div>
		<div>
			<img src='/images/Chat-Heart-Etc-W840_200.png' />
		</div>
	</div>
	<div class='row'>
		<div>
			<h2>HQ recording and export to your favourite archive services</h2>
			<p>Seamless recording, right inside the app. When your live broadcast is over, one-click export to SoundCloud, Dropbox, Mixcloud and more.</p>
		</div>
		<div>
			<img src='/images/Export_W840_200.png' />
		</div>
	</div>
	<div class='row'>
		<div>
			<h2>Personalise your own livepage and create your own home</h2>
			<p>Add your own artwork, biography, categories, map, links to your own site and social media pages, and more...</p>
		</div>
		<div>
			<img src='/images/iPad_Livepage_CrowdComments_W840_200.png' />
		</div>
	</div>
 -->

		</div>
	</div>
</section>