$(function() {
  var milkcocoa = new MilkCocoa("app_id.guitarihve3iab");
  milkcocoa.user(function(err, user) {
    if(user) {
      start(user);
    }else{
      loginToMilkcocoa();
    }
  });

  //コントローラで作成したトークンを取ってきて、Milkcocoaでログインする。
  function loginToMilkcocoa() {
    $.get("/get_token", {}, function(data){
      milkcocoa.authWithToken(data.token, function(err, user) {
        start(user);
      });
    }, 'json');
  }

  // フォローしているユーザーを取得
  function get_followings() {
    $.get("/followings", {}, function(data){
      if(data && data.followings)
        data.followings.forEach(showFeed);
    }, 'json');
  }

  function start(current_user) {
    console.log(current_user);
    // データストアの作成
    var ds = milkcocoa.dataStore("micropost").child(current_user.id);
    get_followings();
    $("#post-btn").click(function(e) {
      var content = $("#micropost_content").val();
      console.log(content);
      if(content) {
        // データストアに保存
        ds.push({
          content : content
        });
        $("#micropost_content").val("");
      }
    });
  }

  function showFeed(user) {
    var user_id = user.id;
    var ds = milkcocoa.dataStore("micropost").child(user_id);

    $("#followings").append('<div class="microposts"><div class="user">'+user.name+'</div><div id="feed-'+user_id+'"></div></div>');

    // データストアのデータを取得
    ds.stream().next(function(err, posts) {
      posts.forEach(function(p) {
        $('#feed-'+user_id).append('<div class="content">'+p.value.content+'</div>');
      });

    });

    // pushを監視
    ds.on('push', function(pushed) {
        $('#feed-'+user_id).append('<div class="content">'+pushed.value.content+'</div>');
    });

  }
})
